body{
  font-size: large;
  color: black;
}
/* Основные стили для хедера */
.header {
  display: flex; /* Используем Flexbox для выравнивания */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: space-between; /* Распределяем элементы по всей ширине */
  background-color: #fff; /* Фоновый цвет */
  width: 100%; /* Ширина на 100% */
  position: fixed; /* Фиксированное положение */
  top: 0; /* Прикрепляем к верхней части */
  z-index: 1000; /* Поверх других элементов */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для эффекта */
  padding: 10px 20px; /* Отступы внутри хедера */
}

.nav {
  display: flex; /* Используем Flexbox для навигации */
  flex-grow: 1; /* Занимает все доступное пространство */
  justify-content: space-around; /* Равномерно распределяем элементы */
}

.item {
  margin: 0; /* Убираем отступы у элементов меню */
}

.logo {
  margin-right: auto; /* Сдвигаем логотип влево */
}

.logotip {
  height: 40px; /* Устанавливаем высоту логотипа */
}

/* Стили для контейнера */
.container {
  margin-top: 70px; /* Отступ для фиксированного хедера */
}

/* Стили для карточек отелей */
.hotel-card {
  background: #f9f9f9; /* Фоновый цвет карточки */
  padding: 20px; /* Внутренние отступы */
  margin: 20px 0; /* Отступы между карточками */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для карточек */
}

.hotel-image {
  width: 100%; /* Ширина изображения на 100% */
  height: auto; /* Автоматическая высота */
}
